.modal__container {
    @apply w-full h-full fixed flex justify-center items-center;
    background-color: rgba(0,0,0,0.8);
}

.modal__content {
    @apply grid relative z-10 rounded-xl bg-white text-white;
    width: 800px;
    height: 500px;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.2);
    grid-template-columns: 1fr 1fr;
}
.modal__img {
    @apply w-full h-full;
    border-radius: 10px 0 0 10px;
    background: #000;
}
.modal__body {
    @apply flex flex-col justify-center items-center leading-none;
    color: #141414;  
}
.modal__body p{
    @apply mb-4;
}
.modal__body button{
    @apply  border-none text-white;
    padding: 10px 24px;
    background: #141414;
}
.modal__close{
    @apply cursor-pointer absolute top-5 right-5 w-8 h-8 p-0 z-10 text-black;
}